@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1b3252;
  --primary-foreground: #fff;
  --bg-primary: #e0d9cf;
  --bg-secondary: #efefef;
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}